/* Main Containers */

.training-main-canvas-700, .training-main-canvas-960, .training-main-canvas-1000, .training-main-canvas-1200 {
	margin: 0 auto;
	padding: 4% 0 0 1%; 
	position: relative;

}

.training-main-canvas-700{
	max-width: 700px;
}


.training-main-canvas-960{
	max-width: 960px;
}

.training-main-canvas-1000 {
	max-width: 1020px;
}

.training-main-canvas-1200 {
	max-width: 1220px;
}


.training-row {
	clear: both;
	padding: 0 10px;
}

/* colS/training-colUMNS */


.training-col1, .training-col2, .training-col3, .training-col4, .training-col5, .training-col6, .training-col7, .training-col8, .training-col9, .training-col10, .training-col11, .training-col12 {
	float:left;
	margin: 0 1% 0 0;
}

.training-col1.last, .training-col2.last, .training-col3.last, .training-col4.last, .training-col5.last, .training-col6.last, .training-col7.last, .training-col8.last, .training-col9.last, .training-col10.last, .training-col11.last, .training-col12 {
	margin: 0;
}


.training-col1 { width: 5.5%; }
.training-col2 { width: 14%; }
.training-col3 { width: 22.5%; }
.training-col4 { width: 31%; }
.training-col5 { width: 39.5%; }
.training-col6 { width: 48%; }
.training-col7 { width: 56.5%; }
.training-col8 { width: 65%; }
.training-col9 { width: 73.5%; }
.training-col10 { width: 82%; }
.training-col11 { width: 90.5%; }
.training-col12 { width: 99%; margin: 0; }

.training-col1 img, .training-col2 img, .training-col3 img, .training-col4 img, .training-col5 img, .training-col6 img, .training-col7 img, .training-col8 img, .training-col9 img, .training-col10 img, .training-col11 img, .training-col12 img {
	width: 99%;
	height: auto;
	display: block;
	padding: 10px;
}

/* Separation elements */

.training-line-separator {
	height:2px;
	background:#C0C0C0;
	border-bottom:1px solid #C0C0C0;
	padding-left: 5px;
	padding-right: 5px;
}

.training-col-separator{
	border-right:2px solid #C0C0C0;
}


/* MEDIA QUERIES */

@media all and (max-width: 768px) {
	.training-row {
	}
	.training-text-indent{
		width:100% !important;
	}
	.training-col1, .training-col2, .training-col3, .training-col4, .training-col5, .training-col6, .training-col7, .training-col8, .training-col9, .training-col10, .training-col11, .training-col12 {
		float: left;
		width: 90%;
		margin: 50px 5% 0 5%;
	}

}

@media all and (max-width: 480px) {
	.training-row {
	}
	.training-text-indent{
		width:100% !important;
	}
	.training-col1, .training-col2, .training-col3, .training-col4, .training-col5, .training-col6, .training-col7, .training-col8, .training-col9, .training-col10, .training-col11, .training-col12 {
		float: none;
		width: 85%;
		margin: 50px 5% 0 5%;
	}
}



